.taskTracker {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  padding: 15px;
}
.taskTracker_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.taskTracker_intro{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
}
.taskTracker_mainTitle{
    font-size: 40px;
    text-align: center;
    background-image: linear-gradient(177deg,rgb(255, 113, 52) 40%, rgba(252, 176, 69, 1) 60%);
    color: transparent;
    background-clip: text;
    font-family: "Orbitron", sans-serif;
}
.taskTracker_introDescription{
    font-size: 25px;
    color: whitesmoke;
    font-family: "Quantico", sans-serif;
}
.taskTracker_formContainer {
  margin-top: 32px;
  padding: 20px;
  border-radius: 12px;
  background: white;
  display: flex;
  flex-direction: column;
  max-width: 420px;
  width: 100%;
  margin-bottom: 50px;
}
#taskTracker_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.taskTracker_input{
    border-radius: 8px;
    border: 1px solid lightgray;
    background: aliceblue;
    font-size: 14px;
    color: #111827;
    padding: 8px;
    width: 100%;
    font-family: "Quantico", sans-serif;
}
.taskTracker_select{
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid lightgray;
    background: aliceblue;
    font-size: 14px;
    color: #111827;
    cursor: pointer;
    font-family: "Quantico", sans-serif;
}
.taskTracker_button{
  cursor: pointer;
  margin-top: 8px;
  padding: 12px;
  border-radius: 8px;
  background-color: #00d4ff;
  color: whitesmoke;
  font-size: 14px;
  transition: background-color 0.2s ease;
  font-family: "Quantico", sans-serif;
}

.taskTracker_button:hover {
  background: #4338ca;
}
.taskTracker_error{
    color: red;
}

.taskTracker_tasks{
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 12px;
    background-color: white;
    max-width: 420px;
    padding: 15px;
    width: 100%;
    margin-bottom: 20px;
}
.taskTracker_task{
    cursor: pointer;
    padding: 15px;
    border-radius: 8px;
    width: 100%;
    background-color: #111827;
    border: 5px solid transparent;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.taskTracker_tasksTitle{
    font-size: 25px;
    background-image: linear-gradient(177deg,rgb(255, 113, 52) 40%, rgba(252, 176, 69, 1) 60%);
    color: transparent;
    background-clip: text;
    font-family: "Quantico", sans-serif;
    text-align: center;
    margin-bottom: 15px;
}
.taskTracker_taskText{
    overflow: hidden;
    font-family: "Quantico", sans-serif;
    word-break: break-word;
    overflow-wrap: anywhere;
}
.taskTracker_deleteTask{
    cursor: pointer;
    padding: 8px;
    background-color: red;
    color: whitesmoke;
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
    font-family: "Quantico", sans-serif;
}
.todo {
  border-color: orangered;
}

.in-progress {
  border-color: gold;
}

.done {
  border-color: green;
}
@media (max-width: 1100px){
    .taskTracker_mainTitle{
        font-size: 30px;
    }
    .taskTracker_introDescription{
        font-size: 20px;
    }
}