@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 20px 100px;
  background-color: rgba(0, 7, 28, 0.4);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
}

.header_ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 100px;
  margin: 0;
  padding: 0;
}

.header_li a {
  text-decoration: none;
  list-style: none;
  color: whitesmoke;
  font-size: 20px;
  font-family: "Quantico", sans-serif;
  transition: color 0.4s ease;
}

.header_li a:hover {
  color: #914900;
  transition-duration: 0.2s;
}

.header_li .active {
  color: #ff9e3d;
}

.header_burger_button {
  display: none;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 20px;
  }

  .header_burger_button {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 200;
    cursor: pointer;
  }

  .header_burger_button span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: whitesmoke;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    transition: 0.25s ease-in-out;
  }

  .header_burger_button span:nth-child(1) { top: 0px; }
  .header_burger_button span:nth-child(2) { top: 9px; }
  .header_burger_button span:nth-child(3) { top: 18px; }

  .header_burger_button.active span:nth-child(1) {
    top: 9px;
    transform: rotate(135deg);
  }
  
  .header_burger_button.active span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  
  .header_burger_button.active span:nth-child(3) {
    top: 9px;
    transform: rotate(-135deg);
  }

  .header_menu_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 150;
  }

  .header_menu_container.active {
    opacity: 1;
    visibility: visible;
  }

  .header_ul {
    position: absolute;
    top: 0;
    right: -100%;
    width: 250px;
    height: 100%;
    background-color: #0b1121;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 80px 30px;
    gap: 30px;
    box-shadow: -5px 0 15px rgba(0,0,0,0.5);
    transition: right 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header_menu_container.active .header_ul {
    right: 0;
  }
}