@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.about_descriptionBlock{
    padding: 90px 30px 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about_mainTitle{
    font-size: 40px;
    background-image: linear-gradient(177deg,rgb(255, 113, 52) 40%, rgba(252, 176, 69, 1) 60%);
    color: transparent;
    background-clip: text;
    font-family: "Orbitron", sans-serif;
    text-align: center;
    margin-bottom: 30px;
}
.about_p{
    font-size: 25px;
    color: whitesmoke;
    font-family: "Quantico", sans-serif;
}
.about_slider{
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media (max-width: 1100px){
    .about_descriptionBlock{
        padding: 90px 30px 20px 30px;
        gap: 20px;
    }
    .about_mainTitle{
        font-size: 30px;
        margin-bottom: 30px;
    }
    .about_p{
        font-size: 20px;
    }
}
@media (max-width: 600px){
    .about_descriptionBlock{
        padding: 90px 30px 0px 30px;
        gap: 20px;
    }
}