@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.marketExplorer_introContainer{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 15px;
}
.marketExplorer_mainTitle{
    font-size: 40px;
    background-image: linear-gradient(177deg,rgb(255, 113, 52) 40%, rgba(252, 176, 69, 1) 60%);
    color: transparent;
    background-clip: text;
    text-align: center;
    font-family: "Orbitron", sans-serif;
}
.marketExplorer_text{
    font-size: 25px;
    color: whitesmoke;
    font-family: "Quantico", sans-serif;
    text-align: center;
}
.marketExplorer_stockContainer{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.marketExplorer_stockCard {
  border-radius: 8px;
  padding: 12px;
  background: whitesmoke;
}

.marketExplorer_stockCard_nameText{
    font-size: 18px;
    color: orange;
    margin-bottom: 20px;
}

.marketExplorer_stockCard_exchangeText{
    font-size: 14px;
    color: gray;
}

.marketExplorer_stockCard_countryText{
    font-size: 14px;
    color: gray;
}   

.marketExplorer_stockCard_eodText{
    font-size: 14px;
    color: gray;
}

@media (max-width: 1100px){
    .about_descriptionBlock{
        padding: 90px 30px 20px 30px;
        gap: 20px;
    }
    .marketExplorer_mainTitle{
        font-size: 30px;
    }
    .marketExplorer_text{
        font-size: 20px;
        color: whitesmoke;
        font-family: "Quantico", sans-serif;
        text-align: center;
    }
}
